<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" stdoutLogEnabled="false" hostingModel="InProcess">
        <environmentVariables>
          <environmentVariable name="AzureAppConfig" value="Endpoint=https://efmconfiguration.azconfig.io;Id=2-l4-s0:Nq8TfqKSFA0KK3oEzTfG;Secret=+tt9tylLwd/SeQhmJU6QVeiDminD2F4ziqly8JIDpGs=" />
          <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development" />
          <environmentVariable name="AzureAppConfig - Endpoint" value="https://efmconfiguration.azconfig.io/;Id=2-l4-s0:Nq8TfqKSFA0KK3oEzTfG;Secret=+tt9tylLwd/SeQhmJU6QVeiDminD2F4ziqly8JIDpGs=" />
          <environmentVariable name="ASPNETCORE_HTTPS_PORT" value="44390" />
        </environmentVariables>
      </aspNetCore>
    </system.webServer>
  </location>
</configuration>