<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="C:\Program Files\dotnet\dotnet.exe" arguments="exec &quot;C:\Users\Kirk\source\repos\evefleetmanager\EveFleetManager\bin\Debug\netcoreapp2.2\EveFleetManager.dll&quot;" stdoutLogEnabled="false" hostingModel="InProcess">
        <environmentVariables>
          <environmentVariable name="AzureAppConfig" value="Endpoint=https://efmconfiguration.azconfig.io;Id=2-l4-s0:Nq8TfqKSFA0KK3oEzTfG;Secret=+tt9tylLwd/SeQhmJU6QVeiDminD2F4ziqly8JIDpGs=" />
          <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development" />
        </environmentVariables>
      </aspNetCore>
    </system.webServer>
  </location>
</configuration>