@{
    ViewData["Title"] = "Home Page";
}
@model EveFleetManager.Models.FleetWithInfo

<div class="text-center">

    <h1 class="display-4">Welcome</h1>
    <button type="button" onclick="location.href='@Url.Action("login", "auth")'">Login</button>
    <button type="button" onclick="location.href='@Url.Action("StartFleet", "Home")'">StartFleet</button>
</div>
